extends layout

block append head
	script(type='text/javascript', src='/javascripts/hydrometerAdjustmentCalculator.js')

block content
	div.header-div
		h1.header Hydrometer Adjustments
		hr.header
	p
		i.text-muted Measurments require SG units and °Celsius 

	form(style='max-width: 300px; min-width: 200px')#calculator
		div.form-group
			label.recipe-big Gravity:
			input(type='number', placeholder='SG(1.xxx)',value="1.021",min="0.001", max="5", step="0.001").form-control.recipe-small.end#measured-gravity
			i.small.text-muted.margin-up *measured in SG (1.xxx)
		div.form-group
			label.recipe-big Current Temperature:
			input(type='number', placeholder='°celsius', value="25",min="1", step="0.5").form-control.recipe-small.end#current-temp
			i.small.text-muted.margin-up *measured in °Celcius
		div.form-group
			label.recipe-big Calibration Temperature:
			input(type='number', placeholder='°celsius', value="20", min="1", step="0.5").form-control.recipe-small.end#calibration-temp
			i.small.text-muted.margin-up *measured in °Celcius
		.form-group
			button(type='submit').btn.btn-default.calculate Calculate
